<br>
<div class="container-fluid" id="footer">
  <div class="container" style="padding:10px;">
    <div class="row">
      
      <div class="col-lg-3 col-xs-12"><br>
        <div class="row justify-content-center align-items-center" >
          <img src="assets/images/logo/logo.png" class="img-responsive" height="250px;"/>
        </div>
      </div>

      <div class="col-lg-3">
        <h4>OUR VISION</h4>
        <hr class="medHr">
        <p>
          Living health service Living health service Living health service Living health service Living health service Living health service Living health service Living health service Living health service Living health service Living health service Living health service Living health service 
        </p>
      </div>

      <div class="col-lg-3">
          <h4>OUR MISSION</h4>
          <hr class="medHr">
          <p>
            Living health service Living health service Living health service Living health service Living health service Living health service Living health service Living health service Living health service Living health service Living health service Living health service 
          </p>          
      </div>

      <div class="col-lg-3">
        <h4>CONTACT US</h4>
        <hr class="medHr">
        <p>
          <b>Landline :</b> +27 (0) 31 904 1998<br> Or  <br>
          <b>Emergency :</b> <br>+27 (0) 60 983 5008 /<br> +27 (0) 73 835 4220<br> 
          <b>Email :</b> doctors@arbourdoctors.co.za 
        </p>
        <br>
        Follow Us:
        <ul class="socialLinks">
          <li><a href="#"><div class="p-2 item"><i class="fa fa-linkedin-square"></i></div></a></li>
          <li><a href="#"><div class="p-2 item"><i class="fa fa-whatsapp"></i></div></a></li>
          <li><a href="#"><div class="p-2 item"><i class="fa fa-twitter-square"></i></div></a></li>
          <li><a href="#"><div class="p-2 item"><span class="fa fa-facebook"></span></div></a></li>
        </ul>  
      </div>

    </div>

    <div class="row justify-content-center align-items-center">
      <p> &copy; 2019 All rights reserved at <b>Dr Kunle Oliafa and Partners </b></p>
    </div>
  </div>  
</div>
