<nav class="navbar navbar-expand-lg  sticky-top" >
    <a class="navbar-brand" [routerLink]="['home']">
       <img src="" />
       <img src="assets/images/logo/smallLogo.png" class="img-responsive" />
    </a>
  
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="icon-bar" style="border: red solid 2px; margin: 1px;"></span>
      <span class="icon-bar" style="border: red solid 2px; margin: 1px;"></span>
      <span class="icon-bar" style="border: red solid 2px; margin: 1px;"></span>
      <span class="icon-bar" style="border: red solid 2px; margin: 1px;"></span>
      <span class="icon-bar" style="border: red solid 2px; margin: 1px;"></span>
      <span class="icon-bar" style="border: red solid 2px; margin: 1px;"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav ml-auto navbar-right">
       
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['home']" style="color:aliceblue;" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['about']" style="color:aliceblue;" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['services']" style="color:aliceblue;" href="#">Our-Service</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['signup']" style="color:aliceblue;" href="#">signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['contactus']" style="color:aliceblue;" href="#">Contact-Us</a>
            </li>
      </ul>
    </div>
  </nav>
  
<!-- <div class=" container">
    <div class="row h-100">
      <div class="col-lg-1 col-md-2 col-sm-3">
          <a class="navbar-brand" style="padding:0px; margin:0px; background: brown;" [routerLink]="['home']">
              <img src="assets/images/logo/logo.png" style="width: 100%;"
                  class="img-responsive rounded-circle" />
          </a>
      </div>

      <div class="col-lg-10 col-md-4 col-sm-push-3 my-auto" style="border: 2px solid red;" id="PrimaryTopNave">

        <nav class="navbar navbar-expand-lg navbar-blue">
          <button class="navbar-toggler bg-dark" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
          </button>    
          
          <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="womenathome" style="color:aliceblue;"><b>ARBOUR CROSSING <br> MEDICAL CENTER</b></a>
              </li> 
            </ul>
            
            <div class="navbar-header navbar-right">
              <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['home']" style="color:aliceblue;" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['about']" style="color:aliceblue;" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['services']" style="color:aliceblue;" href="#">Our-Service</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['signup']" style="color:aliceblue;" href="#">signup</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['contactus']" style="color:aliceblue;" href="#">Contact-Us</a>
                </li>
              </ul>
            </div>
            
          </div> 
        </nav>
      </div>

    </div>
</div> -->