<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-responsive" src="assets/images/carousel/arbour_1.jpg" height="600" width="100%"  alt="Arbour-Medical Center">
    </div>
    <div class="carousel-item">
      <img class="img-responsive" src="assets/images/carousel/arbour_2.jpg" height="600" width="100%"  alt="Arbour-Medical Center">
    </div>
    <div class="carousel-item">
      <img class="img-responsive" src="assets/images/carousel/banner_1.jpg" height="600" width="100%"  alt="Arbour-Medical Center">
    </div>
    <div class="carousel-item">
      <img class="img-responsive" src="assets/images/carousel/arbour_3.jpg" height="600" width="100%"  alt="Arbour-Medical Center">
    </div>
    <div class="carousel-item">
      <img class="img-responsive" src="assets/images/carousel/arbour_4.jpg" height="600" width="100%"  alt="Arbour-Medical Center">
    </div>
  </div>

  <div class="centered">
    <p id="medText">We Provide Best Medical Services</p>
    <p id="medText2">Health Care Solutions</p>
  </div> 
  
</div>