<div class="container">
  <br>   
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      <div class="card">
        <div class="card-image">
          <img src="/assets/images/forbidden/403.png">        
        </div>
        <div class="card-content">
          <span class="card-title" style="color:#039be5">403 - ACCESS DENIED</span>
          <h6>Ooops Sorry!!! ... You don't have the permission to access this resource.</h6><br>
        </div>
      </div> 
    </div>
  </div>
</div>