<div class="container"> 
  <div class="row">    
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card w3-blue">
        <div class="card-body">
          <h5 class="card-title">MEDICAL HEALTH</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card w3-blue">
        <div class="card-body">
          <h5 class="card-title">DOCTORS</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card w3-blue">
        <div class="card-body">
          <h5 class="card-title">APPOINTMENTS</h5>
          <h6 class="card-subtitle mb-2 text-muted">Dr Kunle and Partners</h6>
          <p class="card-text">We value our clients hence we would want you to waste your time waiting. Book an appointment for us to have the surgery waiting for you.</p>
          <a href="#" class="btn btn-primary">Book-Appointment</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card w3-blue">
        <div class="card-body">
          <h5 class="card-title">OPERATING HOURS</h5>
          <h6 class="card-subtitle mb-2 text-muted">Dr Kunle and Partners</h6>
          <ul class="card-text">
            <li><b>Mon- Fri</b> 8:00 - 19:00</li>
            <li><b>Saturday</b> 8:00 - 19:00</li>
            <li><b>Sunday  </b> 8:00 - 19:00</li>
          </ul> 
        </div>
      </div>
    </div>

  </div>
</div>
